[core]
	repositoryformatversion = 0
	filemode = true
	bare = false
	logallrefupdates = true
[remote "origin"]
	url = git@github.com:mrware91/tmolw56.git
	fetch = +refs/heads/*:refs/remotes/origin/*
[branch "main"]
	remote = origin
	merge = refs/heads/main
[filter "jupyternotebook"]
	clean = jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace %f
	required